/target
!/.idea/
/.idea/.gitignore
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/operating_system.iml
/.idea/php-inspections-ea-ultimate.xml
/.idea/vcs.xml
